.addVesselInput{
border: 0.8px solid #777777;
box-sizing: border-box;
border-radius: 10px;
color: #777777;
width: 484px;
height: 64px;
font-family: 'Poppins';
font-weight: 300;
font-size: 16px;
line-height: 24px;
}
.text{
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    color: #000000; 
    text-align: center;
}
.button{
width: 484px;
height: 64px;
}