.h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 20px;
}
.p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
.button:hover{
  background-color: white;
  color: green;
  box-shadow: 0 0.5em 0.5em -0.4em green;
  transition: color 0.5s ease-in,background-color 0.5s ease-out, transform 0.5s ease-out;
  transform: translateY(-0.2em);
  cursor: pointer;
}
