@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
.btn{
    font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  }
  .container-fluid{
      height:100vh;
      overflow: hidden;
  }
  .col-4{
    margin:auto;
    width:60%;
  }
  h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 20px;
    }
    p{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
    }
    input{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
    }