@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
.btn{
    font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  }
  .container-fluid{
      height:100vh;
      overflow-y: hidden;
  }
  .col-4{
    margin:auto;
    width:60%;
  }
  .logo{
    margin: 20px;
  }
  h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 20px;
    }
    p{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
    }
    input{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  outline: none;
  border: 0.8px solid #777777;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 20px;
  
 }
input:invalid{
  border: 2px solid #ff7d87;

}
input:focus{
  outline: none;
  border: 2px solid green;
}
.error {
  font-size: 12px;
  color: #ff7d87;
  margin-top: 0.25rem;
}

