.btncolor {
  background: #f3f3f3;
  border: 0.5px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.btnsuccess {
  background: #049d55;
  border-radius: 6px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.header {
  border-bottom: 1px solid #dcdcdc;
}


.input{
background: #F3F3F3;
border: 0.5px solid #AAAAAA;
box-sizing: border-box;
border-radius: 6px;
width:30%;
padding: 10px 40px;
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
color: #444748;

}
.div {
  position: relative;
  border-bottom: 1px solid #dcdcdc;
  padding: 5px 0;
}
.search {
  margin: 20px;
  position: absolute;
  top: 15px;
  left: 10px;
}
.bold {
  font-weight: 700;
}

.row{
    border-bottom: 0.5px solid #DCDCDC;
}
.row1{
    background: #F3F3F3;
}

.head{
    background: #F3F3F3;
    border-bottom:1px solid #DCDCDC;
    

}
.tbody{
 font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #000000;
background-color: #FFFFFF;

}
.thead{  
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #000000;
}
.bodyrows{
    border-bottom: 1px solid #DCDCDC;
    height: 80px;
    
}
.bodycol{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #000000;
background-color: #FFFFFF;
margin:0 10px;
}
.link{
text-decoration: none;  
}
.select{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #444748;
    width:40%;
    background: #F3F3F3
}
.selectwrap{
position: relative;
margin-right: 15px;    
 }
.arrow{
position: absolute;
top:12px;
left:45px;
}
.text{
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
color: #000000;
}